<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/Student_Page/Contacts/all.min.css">
    <link rel="stylesheet" href="../../../css/Student_Page/Contacts/normalize.css">
    <link rel="stylesheet" href="../../../css/Student_Page/Contacts/content.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Open+Sans:wght@300;400;600;700&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,500&display=swap" rel="stylesheet">
    <title>contact</title>
</head>
<body>
  <!-- start lainding page  -->
    <div class="landing-page">
      <div class="overley"></div>
      <section class="section1" >
        <div class="nav">
            <ul>
                <!-- <li><h1>Acadimy</h1></li> -->
                <img src="../../../images/Student_Page/logo.jpg" width="100ox" > 
                <li><a class="active" href="/students/"><i class="fa-solid fa-house"></i> Home</a></li>
                
                <li><a href="#contacts"><i class="fa-solid fa-id-card"></i>Your Courses</a></li>
                <li><a href="/students/material"><i class="fa-solid fa-table-cells"></i> Registration</a></li>
                <li><a href="#"><i class="fa-solid fa-book-open"></i> GPA</a></li>
                <li><a href="#"><i class="fa-solid fa-users"></i> About Us</a></li>
              </ul>
        
        </div>
        <div class="courses">
          <h3>Your Courses:</h3>
            <div class="container">
            <div class="card-deck">
                <div class="card">
                      <img class="card-img-top" src="../../../images/Student_Page/and.png" alt="Card image cap"> 
                      <div class="card-body">
                        <h5 class="card-title">Andriod</h5>
                        <p class="card-text">DR/Nader</p>
                        <button > View Content</button>
                    </div>
                </div>
        
                <div class="card">
                  <img class="card-img-top" src="../../../images/Student_Page/ml.jpg" alt="Card image cap"> 
                  <div class="card-body">
                    <h5 class="card-title">Machine Learning</h5>
                    <p class="card-text">DR/Sherif</p>
                    <button> View Content</button>
                  </div>
                </div> 
                <div class="card">
                    <img class="card-img-top" src="../../../images/Student_Page/kbs.jpg" alt="Card image cap"> 
                  <div class="card-body">
                    <h5 class="card-title">KBS</h5>
                    <p class="card-text">DR/Afaf</p>
                    <button> View Content</button>
                  </div>
                </div> 
                <div class="card">
                  <img class="card-img-top" src="../../../images/Student_Page/SFFF.png" alt="Card image cap"> 
                  <div class="card-body">
                    <h5 class="card-title">Software 2</h5>
                    <p class="card-text">DR/Ashraf</p>
                  <button> View Content</button>
                  </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="../../../images/Student_Page/math3.jpg" alt="Card image cap"> 
                    <div class="card-body">
                      <h5 class="card-title">Math 3</h5>
                      <p class="card-text">DR/Osama</p>
                      <button> View Content</button>
                </div>
                  </div>
                  <div class="card">
                    <img class="card-img-top" src="../../../images/Student_Page/SEC.png" alt="Card image cap"> 
                    <div class="card-body">
                      <h5 class="card-title">Secuirty</h5>
                      <p class="card-text">DR/Hiam</p>
                      <button> View Content</button>
                    </div>
                  </div>
              </div>
            </div>
              </div>
          
        </section>
  </div>
  <!-- </div> -->
  <!-- end lainding page  -->
  
    
</body>
</html>