
<body class="p-3 mb-2 bg-dark text-white">
  <div class="text-white  text-opacity-25">
    <br>
    <h1>create new subjects</h1>
<br>
      <div class="card">
        <div class="card-body">
            <br>
    <form action="/subjects" method="post">
     <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="floatingInput"
                placeholder="name@example.com"
                name="stname"
              />
              <label for="stname"> Student Name</label>
            </div>
         <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="floatingInput"
                placeholder="name@example.com"
                name="name"
              />
              <label for="name"> Subject Name</label>
            </div>

      <div class="mb-3">
          <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="floatingInput"
                placeholder="name@example.com"
                name="code"
              />
              <label for="code">Code</label>
            </div>
           <div class="form-floating mb-3">
        <label for="requirments" >
        </label>
        <select id="" class="form-select" name="requirments"placeholder="name@example.com" >
          {{#each subjects}}
          <option value="{{_id}}">{{name}}</option>
        
          {{/each}}
        </select>
      </div>
       <div class="form-floating mb-3">
        <label for="departments" ></label>

        <select name="department" id="" class="form-select">

          {{#each departments}}
          <option value="{{_id}}"> {{name}}</option>
          {{/each}}
        </select>

      </div>

      <div>
        <button type="submit" class="btn btn-outline-info bg-dark"><h5>Submit</h5></button>
      </div>
    </form>
</body>
