<br>
<br>
 <div class="container col-6">
    <br>
    <h1>login</h1>
<br>
<form action="/login" method="post">

  <div class="card"></div>
<div class="form-floating mb-3">
    <label for="email">email</label>

    <input type="email"  class="form-control" id="floatingInput" name="email" placeholder="email" >
</div>

<div class="form-floating mb-3" >
    <label for="password">password</label>

    <input type="password"  class="form-control" id="floatingInput" name="password" placeholder="password" >
</div>
<div>

<a href="../subjects/"></a><button type="submit" class="btn btn-outline-info"> login</button>
</div>

<br>


            <label >Admin</label>
            <input id="admin" name="radio" type="radio" value="admin">
            <br><br>
            <label >Doctor</label>
            <input id="doctor" name="radio" type="radio" value="doctor">
            <br><br>
            <label >Student</label>
            <input id="student" name="radio" type="radio" value="student">
</div>
</div>


</form>