<form action="/login" method="post">


<div>
    <label for="email">email</label>

    <input type="email" id="" name="email" placeholder="email" >
</div>

<div>
    <label for="password">password</label>

    <input type="password" id="" name="password" placeholder="password" >
</div>
<div>

<button type="submit"> login</button>
</div>



            <label >Admin</label>
            <input id="admin" name="radio" type="radio" value="admin">

            <label >Doctor</label>
            <input id="doctor" name="radio" type="radio" value="doctor">

            <label >Student</label>
            <input id="student" name="radio" type="radio" value="student">

</form>