 <body  class="p-3 mb-2 bg-dark text-white">
  

 <div class="container">
      <h1>Admin Page</h1>
              </div>
<br>
      <div class="row">
        <div class="col-sm-4">
          <a href="/subjects/" class="btn btn-outline-info btn-lg"><h1>About info</h1></a>
        </div>
        <div class="col-sm-4">
          <a href="/register" class="btn btn-outline-info btn-lg"><h1>create AcDoctor</h1></a>
        </div>
        <div class="col-sm-4">
          <a href="#" class="btn btn-outline-info btn-lg"><h1>create AcStudents</h1></a>
        </div>
      </div>
    </div> </body>
