<body class="p-3 mb-2 bg-secondary-subtle text-emphasis-secondary">.
    

<br><br>
 <div class="card">
     
    <div class="text-center text-center ">
        <br>
          <h1>Create Doctor</h1>
          </div>

        <br>

        <div class="card-body">

<form action="/register" method="post">
<div class="form-floating mb-3">
    <input type="text"  class="form-control" id="" name="username " placeholder="username" >
    <label for="username">username</label>

</div>


<div class="form-floating mb-3">
    <input type="email"  class="form-control" id="email" name="email" placeholder="email" >
    <label for="email">email</label>

</div>

<div class="form-floating mb-3">
    <input type="password" id="" class="form-control"  name="password" placeholder="password" >
    <label for="password">password</label>

</div>
<div>

<button type="submit" class="btn btn-outline-info bg-dark" > <h5>Register</h5></button>
</div>

</form>

</div></div></body>