
<br><br>
<form action="/register" method="post">
<div class="form-floating mb-3">
    <label for="username">username</label>

    <input type="text"  class="form-control" id="" name="username " placeholder="username" >
</div>


<div class="form-floating mb-3">
    <label for="email">email</label>

    <input type="email"  class="form-control" id="email" name="email" placeholder="email" >
</div>

<div class="form-floating mb-3">
    <label for="password">password</label>

    <input type="password" id="" class="form-control"  name="password" placeholder="password" >
</div>
<div>

<button type="submit" class="btn btn-outline-info" > Register</button>
</div>

</form>