<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../css/Student_Page/Material_Lab/all.min.css">
  <link rel="stylesheet" href="../../../css/Student_Page/Material_Lab/materialtab.css">
  <link rel="stylesheet" href="../../../css/Student_Page/Material_Lab/normalize.css">
  <link rel="stylesheet" href="../../../bootstrap-5.0.2/dist/css/bootstrap.css">
  <!-- <link rel="stylesheet" href="js/materialtab.js"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Open+Sans:wght@300;400;600;700&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,500&display=swap"
    rel="stylesheet">
  <title>materialtab</title>
</head>

<body>
  <!-- start lainding page  -->
  <div class="landing-page">
    <div class="overley"></div>
    <section class="section1">
      <div class="nav">
        <ul>
          <!-- <li><h1>Acadimy</h1></li> -->
          <img src="../../../images/Student_Page/logo.jpg" width="100px">
          <li><a class="active" href="/students/"><i class="fa-solid fa-house"></i> Home</a></li>

          <li><a href="/students/contact"><i class="fa-solid fa-id-card"></i> your Courses</a></li>
          <li><a href="#materialtab"><i class="fa-solid fa-table-cells"></i> Registration</a></li>
          <li><a href="#"><i class="fa-solid fa-book-open"></i> GPA</a></li>
          <li><a href="#"><i class="fa-solid fa-users"></i> About Us</a></li>
        </ul>

      </div>
      <div class="table2">
        <h2>Registration Table</h2>
        <h2 class="mhmd">Enroll your material</h2>
        <form action="/students/material" method="post">
          <table style="width:100%">
            <tr>
              <th id="1">Software Engineering 2</th>
              <th><input type="checkbox" id="checkbox1" name="SW_2" value="Software Engineering 2">&nbsp;</th>
          
            </tr>
            <tr>
              <td id="2">KBS</td>
              <td><input type="checkbox" id="checkbox2" name="kbs" value="KBS">&nbsp;</td>
          
            </tr>
            <tr>
              <td id="3">Math3</td>
              <td><input type="checkbox" id="checkbox3" name="math3" value="Math3">&nbsp;</td>
          
            </tr>
            <tr>
              <td id="4">Android</td>
              <td><input type="checkbox" id="checkbox4" name="android" value="Android">&nbsp;</td>
          
            </tr>
          
          
            <tr>
              <td id="5">Machine Learning</td>
              <td><input type="checkbox" id="checkbox5" name="M_L" value="Machine Learning">&nbsp;</td>
          
            </tr>
            <tr>
              <td id="6">Security</td>
              <td><input type="checkbox" id="checkbox6" name="security" value="Security">&nbsp;</td>
          
          
            </tr>
            <tr>
              <td>
                <div class="btn1">
                  <button id="save_btn" type="submit" class="btn btn-primary"> Save Subjects </button>
                </div>
              </td>
            </tr>
          </table>
          
        </form>
      </div>
    </section>
    </div>
      <script src="../../../js/Student_Page/materialtab.js"
      src="../../../bootstrap-5.0.2-dist/js/">
      </script>
      <script src="../../../bootstrap-5.0.2/dist/js/bootstrap.js"></script>
</body>

</html>